body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 200% 200%;
  z-index: -1;
  animation: gradientChange 60s ease infinite;
}

@keyframes gradientChange {
  0% {
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  }
  25% {
    background: linear-gradient(to right, #302b63, #24243e, #0f0c29);
  }
  50% {
    background: linear-gradient(to right, #24243e, #0f0c29, #302b63);
  }
  75% {
    background: linear-gradient(to right, #0f0c29, #24243e, #302b63);
  }
  100% {
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  }
}
.stars {
  position: absolute;
  width: 2px;
  height: 2px;
  background: white;
  border-radius: 50%;
  animation: twinkling 1s linear infinite;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

.header-content {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
}

@keyframes twinkling {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
header {
  background-image: url("../media/fam.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  padding: 200px;
  text-align: center;
  background-position: center;
}

.header-content {
  background-color: rgba(0, 0, 0, 0.5);
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  color: white;
}

main {
  background-color: rgba(58, 83, 155, 0.7);
  color: white;
  padding: 20px;
  display: grid;
  gap: 20px;
  position: relative;
  overflow: hidden;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  grid-gap: 20px;
  align: center;
  align-items: center;
  justify-content: center;
}

footer {
  background-color: rgba(18, 18, 18, 0.7);
  color: white;
  padding: 1px;
  text-align: center;
}

.resume-section,
.introduction,
.about-me,
.site-description,
.blog-post,
.call-to-action {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  padding: 20px;
  max-width: 800px;
  margin: auto;
  border: 2px solid #040b3e;
  background-color: rgba(255, 255, 255, 0.1);
}

h2 {
  color: #FFD700;
}

p {
  text-indent: 20px;
}

button {
  background-color: #040b3e;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.logo-image {
  width: 300px;
  border: 2px solid #040b3e;
}

button:hover {
  background-color: #3a539b;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
  }
  main {
    grid-template-columns: 1fr;
  }
  .header-content {
    padding: 5px;
  }
}
nav {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  border: 2px solid #040b3e;
  margin: 0 5px;
  transition: 0.3s;
}

nav a:hover {
  background-color: #3a539b;
}

nav a:active {
  background-color: #101a0a;
}

nav a::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: #528834;
  margin-right: 5px;
  transition: 0.3s;
}

nav a:hover::before {
  background-color: #3a539b;
}

header {
    /* ... other header styles ... */
    position: relative;  /* Ensure the header has a relative position */
}

#toggleButton {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;  /* Optional: add some padding */
}

[data-theme="dark"] {
    background-color: #333;
    color: #fff;
}

[data-theme="light"] {
    background-color: #fff;
    color: #000;
}

/* Styles for Dark Theme */
[data-theme="dark"] body {
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    color: #fff;  /* Adjust text color for dark theme if necessary */
}

/* Styles for Light Theme */
[data-theme="light"] body {
    background: linear-gradient(to right, #ff7e5f, #feb47b);  /* Example light theme gradient */
    color: #000;  /* Adjust text color for light theme if necessary */
}


/* Projects Section Styles */
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.project {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}

.project img {
    max-width: 100%;
    height: auto;
}

.fade-slide-section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

/* Additions for form validation styles */
input:invalid, textarea:invalid {
  border: 2px solid red;
}

input:valid, textarea:valid {
  border: 2px solid green;
}

.error-message {
  display: none; /* Hide error messages by default */
  color: red;
  font-size: 0.8em;
  margin-top: 5px;
}

#successMessage {
  display: none; /* Hide success message by default */
  color: green;
  font-size: 1em;
  margin-top: 10px;
}

button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}



/*# sourceMappingURL=style.css.map */
